RewriteEngine On

# Use Precompressed gz Files
AddEncoding gzip .gz
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
AddType text/javascript .gz
RewriteRule ^(.*).js$ $1.js.gz [QSA,L]